main {
    padding-top: 100px;
}

main .row {
    margin-bottom: 20px;
}

header {
    height: 30 px;
    background-color: goldenrod;
    padding-left: 20px;
}

.card {
    height: 400px;
    /*    padding-top: 30px;*/
    text-align: left;
    /*    padding-left: 10px;*/
    border: 1px solid gray;
}

.photo {
    /*    height: 200px;*/
    width: 100%;
}

.card .photo {
    object-fit: cover;
}

h2 {
    font-size: 1.25rem;
    padding-left: 20px;
    /*    margin-bottom: 3px;*/
}

h3 {
    font-size: 1.0rem;
    font-weight: lighter;
    padding-left: 20px;
    margin-top: 5px;
}


/*
.ray,
.finn,
.kylo,
.poe,
.chewbacca,
.yoda {

}
*/
