header {
    background-color: goldenrod;
    padding-left: 20px;
}

h1 {
    margin-bottom: 0;
    line-height: 100%;
}

header p {
    margin-top: 0.5rem;
}

.card {
    border: 1px solid gray;
    margin-bottom: 20px;
}

.photo {
    width: 100%;
}

h2 {
    font-size: 1.25rem;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.description p {
    font-size: 1.0rem;
    padding-left: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
}

.description {
    padding: 20px;
}
